@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root { /* värit helposti vaihettavissa */
  --text-clr: #2E2E2E;
  --prev-next-clr: #c0c0c0;
  --primary-clr: #69D84f;
  --active-clr: #cbffc0;
  --bg-clr: #f3f3f3;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: var(--text-clr);
    list-style: none;
    text-decoration: none;
  }

   /* HEADER TYYLIT */

body {
    background: linear-gradient(to right, #ffffff, #d5d5d5);
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    font-size: 0.6rem;
    border-bottom: 2px solid #449133;
    background: linear-gradient(to right, #73e05b, #459333);
    width: 100%;
    height: 80px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header-content h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 40px;
    font-size: 35px;
    cursor: default;
}

.header-content nav {
    margin-left: auto;
    margin-right: 100px;
    font-size: 1.2rem;
    text-decoration: underline;
}

.header-content a {
    margin-right: 20px;
   
}

.header-content a:hover {
    color: #4c4c4c;
   
}
.header-content nav:hover {
    color: #4c4c4c;
   
}

.main-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 50px;
}


/* BIG CALENDAR STYLE STARTS*/
.calendar-container {
    background-color:var(--bg-clr);
    border-radius: 10px;
    width: 300px;

    position: relative;
    display: block;
    margin: 20px;
    margin-left: 40px;
}

.calendar-container > .calendar {
    width: 300px;
    height: 50%;
    background-color: #fff;

    border: 1px solid var(--primary-clr);
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: start;
}

.calendar-container > .calendar > .month {
    width: 100%;
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-radius: 10px 10px 0 0;

    background-color: var(--primary-clr);
}

.calendar-container > .calendar > .month > i, .date {
    color: #fff;
    font-size: 1.5em;
}

.calendar-container > .calendar > .month > i:hover {
    color: var(--text-clr);
}

.calendar-container > .calendar > .weekdays {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    font-size: 1em;
}

.calendar-container > .calendar > .weekdays > .weekday {
    text-transform: capitalize;
    width: 50px;
    text-align: center;
}

.calendar-container > .calendar > .days {
    width: 100%;
    display: grid;
    grid-template-columns: 40px 40px  40px  40px  40px  40px  40px ;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
}

.calendar-container > .calendar > .days > .day {
    font-size: 0.8em;
    border: 1px solid var(--primary-clr);
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    height: 40px;

    display: flex;
    flex-direction: column;
    justify-content: start;
}

.calendar-container > .calendar > .days > .day > i.fa-solid.fa-car:before {
    width: 0.1em;
}

.calendar-container > .calendar > .days > .prev-date,
.calendar-container > .calendar > .days > .next-date {
    color: var(--prev-next-clr);
    border: 1px solid var(--prev-next-clr);
}

.calendar-container > .calendar > .days > .day:hover {
    background-color: var(--bg-clr);
    color: var(--text-clr);
    border: 3px solid var(--primary-clr);
}

.calendar-container > .calendar > .days > .active {
    background-color: var(--active-clr);
}

.calendar-container > .calendar > .days > .today {
    color: #fff;
    background-color: var(--primary-clr);
    font-weight: bold;
}
/* BIG CALENDAR STYLE ENDS*/

/* CARPOOL NOTES START */
.carpoolNotes {
    width: 100%;
    height: 320px;

    position: relative;
    display: flex;
    flex-direction: column;
}

.carpoolNotes > .notes-nav {
    display: flex;
    padding: 10px;
    justify-content: space-between;
}

.carpoolNotes > .notes-nav > .today-date > .event-day {
    font-size: 1.5em;
}

.carpoolNotes > .notes-nav > .today-date > .event-date {
    font-size: 0.8em;
}

.carpoolNotes > .calendar-events { /* eventit */
    height: 100%; 
    margin: 10px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

.carpoolNotes > .calendar-events > .calendar-event {
    background-color: #fff;
    margin-bottom: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 5px;
    border-radius: 5px;

    font-size: 0.8em;
}

.carpoolNotes > .calendar-events > .calendar-event > p {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.carpoolNotes > .calendar-events > .calendar-event > p > button {
    padding: 0 5px;
    background-color: transparent;
    border: 1px solid var(--primary-clr);
    color: var(--text-clr);
    border-radius: 5px;
}

.carpoolNotes > .calendar-events > .calendar-event > p > button:hover {
    background-color: var(--primary-clr);
    color: #fff;
}
/* CARPOOL NOTES ENDS */


/* Kartta tyylit */

#map-container {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

#map {
    border: solid;
    border-width: 3px;
    border-color: #69D84f;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    width: 635px;
    height: 635px;
}

#locations {
    flex: 1;
    margin-left: 10px;
}

#rides-head {
    padding: 10px;
    cursor: default;
}

#ride-list {
    margin-left: 10px;
    border: solid;
    padding: 10px;
    max-width: fit-content;
    border-color: #69D84f;
    border-radius: 10px;
}

#ride-list-all {
   margin-top: 50px;
   margin-left: 40px;
   max-height: 250px;
   cursor: default;
}

#ride-table {
    border-collapse: collapse;
    margin-top: 20px;
}

#ride-table th, #ride-table td {
    border: 1px solid #979696;
    padding: 4px;
    text-align: left;
}

#ride-table th {
    background-color: #cac6c6;
}

#ride-table tbody tr:hover {
    background-color: #d6d4d4;
}

#ride-filter-div {
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 20px;
}

#reset-filter-button {
    margin-left: 10px;
    padding: 5px;
    border-radius: 8px;
    border: solid;
    border-color: #4a9b38;
    background: linear-gradient(to top, #4a9b38, #69D84f);
    font-weight: bold;
    cursor: pointer;
}

#reset-filter-button:hover {
    background: linear-gradient(to top, #3e822f, #54ae3f);
}

.delete-button {
    margin-left: 10px;
    margin-right: 10px;
    padding: 3px;
    width: 90px;
    border-radius: 5px;
    border: solid;
    border-color: #472719;
    background: linear-gradient(to top, rgb(209, 119, 109),rgb(205, 166, 132));
    font-weight: bold;
    cursor: pointer;    
}

.delete-button:hover {
    background: linear-gradient(to top, rgb(228, 76, 59),rgb(217, 145, 82));
}

.cellBtnJoinLeave {
    margin-left: 10px;
    margin-right: 10px;
    padding: 3px;
    width: 90px;
    border-radius: 5px;
    border: solid;
    border-color: #4a9b38;
    background: linear-gradient(to top, #4a9b38, #69D84f);
    font-weight: bold;
    cursor: pointer;    
}

.cellBtnJoinLeave:hover {
    background: linear-gradient(to top, #3e822f, #54ae3f);
}

.remove-ride-cell, .join-ride-cell {
    width: 125px;
}

/* Modal UI tyylit */

.modal {
    display: none;
    position: fixed;
    z-index: 1001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.7);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 3px solid #69D84f;
    border-radius: 20px;
    max-width: 600px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.modal-content label {
    text-align: left;
    margin-bottom: 5px;
}

.modal-content input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
    text-align: center;
}

.modal-content button {
    padding: 20px;
    margin: 20px;
    width: 200px;
    box-sizing: border-box;
}

#registerBtn, #registerActionBtn, #searchActionBtn {
    padding: 10px;
    border-radius: 8px;
    border: solid;
    border-color: #4a9b38;
    background: linear-gradient(to top, #4a9b38, #69D84f);
    font-weight: bold;
    cursor: pointer;
}

#registerBtn:hover, #registerActionBtn:hover, #searchActionBtn:hover {
    background: linear-gradient(to top, #3e822f, #54ae3f);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.bottom-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#ride-list-all, #my-rides-section {
    width: calc(50% - 10%);
    cursor: default;
}

/* Omat kyydit tyylit */

#my-rides-section {
    display: block;
    margin-top: 50px;
    margin-right: 60px;
    margin-bottom: 100px;
}

.my-rides {
    padding: 10px;
    margin-top: 20px;
    border: 1px solid #2E2E2E;
    width: 500px;
    height: 250px;
    overflow: scroll;
}

/* Tyylit uloskirjautumis painikkeelle */

#logOutBtn {
    margin-right: 20px;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 5px;
    border: solid;
    border-color: #472719;
    background: linear-gradient(to top, rgb(209, 119, 109),rgb(205, 166, 132));
    font-weight: bold;
    cursor: pointer;
}

#logOutBtn:hover {
    background: linear-gradient(to top, rgb(228, 76, 59),rgb(217, 145, 82));
}

/* Footer tyylit */

footer {
    position: absolute;
    width: 100%;
    height: 80px;
    background: linear-gradient(to right, #73e05b, #459333);
    border-top: 2px solid #449133;
}

footer p {
    text-align: center;
    margin-top: 25px;
}

/* TYYLIT PIENEMMILLE NÄYTÖILLE */

@media screen and (max-width: 768px) {
    
    header {
        height: auto;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .header-content {
        flex-direction: column;
        align-items: center;
        margin-right: 0;
    }

    .header-content h1 {
        margin-left: 0;
        text-align: center;
    }

    .header-content nav {
        margin: 10px;
        text-align: center;
    }

    #logOutBtn {
        position: absolute;
        margin-top: 60px;
        right: 0;
    }

    .main-container {
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    .calendar-container {
        display: flex;
        width: 600px;
        margin-left: 20px;
    }

    #map {
        width: 330px;
        height: 500px;
        margin: 10px 0;
        margin-left: 20px;
    }

    #locations {
        width: 100%;
        margin: 0 20px;
    }

    #ride-filter-div {
        margin: 20px 0;
        margin-left: 20px;
    }

    .bottom-container {
        display: block;
    }

    #my-rides {
        width: 550px;
    }

    #footer {
        width: 100%;
    }

    #ride-list-all,
    #my-rides-section {
        width: 100%;
        margin-left: 40px;
    }
    #my-rides-section {
        margin-top: 90px;
    }
}

@media screen and (max-width: 1450px) {
    #ride-list-all,
    #my-rides-section {
        width: 100%;
        margin-left: 40px;
        margin-bottom: 20px;
    }

    #my-rides {
        width: 550px;
        margin-left: 40px;
    }
}